<launch>
    <!-- Include waypoint_navigation.launch from navigation_pkg package -->
    <include file="$(find navigation_pkg)/launch/waypoint_navigation.launch">
    </include>

    <!-- Launch state_machine node -->
    <node pkg="state_machine_pkg" type="state_machine_pkg" name="state_machine_node" output="screen"> </node>
</launch>

